body {
  margin: 0;
  font-family: var(--font-sans);
  background: (--foreground);
}

.section {
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

@media (min-width: 768px) {
  .section {
    padding-top: 6rem;
    padding-bottom: 4rem;
  }
}

@media (min-width: 1024px) {
  .section {
    padding-top: 7rem;
    padding-bottom: 5rem;
  }
}

/* Colores de fondo de secciones */
.section-yellow {
  background-color: var(--primary);
}

.section-cyan {
  background-color: var(--cyan);
}

.section-blue {
  background-color: var(--secondary);
  color: var(--contrast-light);
}

h1, h2 {
  margin-bottom: 10px;
}
