/* TODO: Download this font and import it locally */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Be Vietnam Pro", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-border: var(--border);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --color-error: var(--error);
  --color-error-background: var(--error-background);

  --color-warning: var(--warning);
  --color-warning-background: var(--warning-background);

  --color-success: var(--success);
  --color-success-background: var(--success-background);

  --color-info: var(--info);
  --color-info-background: var(--info-background);

  --color-accent: var(--accent);

  --radius: 0.5rem;
  --radius-md: calc(var(--radius) + 1rem);
  --radius-sm: calc(var(--radius) + 0.5rem);
  --radius-xs: var(--radius);

  --color-contrast: var(--contrast);
  --color-contrast-soft: var(--contrast-soft);
  --color-contrast-muted: var(--contrast-muted);
  --color-contrast-light: var(--contrast-light);

  /* TYPOGRAPHY SCALE: generates text-h1, text-h2, etc */
  --text-h1: 32px;
  --text-h2: 24px;
  --text-h3: 18px;
  --text-h4: 16px;

  /* Mobile Sizes */
  --text-h1-mobile: 24px;
  --text-h2-mobile: 18px;
  --text-h3-mobile: 16px;

  --text-body-md: 16px;
  --text-body-sm: 12px;
  --text-body-xs: 8px;

  /* Mobile Body Sizes */
  --text-body-md-mobile: 14px;
  --text-body-sm-mobile: 12px;

  /* SPACING SCALE */
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 2.5rem;
  --spacing-2xl: 5rem;
  --spacing-3xl: 10rem;
}

:root {
  --background: #EEEEEE;
  --foreground: #FFFFFF;
  --border: #e4e7e5;

  --primary: #EDBB1B;
  --secondary: #052C5E;
  --accent: #001038;
  --success: #1CA74F;
  --success-background: #d3fde8;
  --warning: #F7EE21;
  --warning-background: #fef1d1;
  --error: #ef4444;
  --error-background: #ffe1e1;
  --info: #0042fe;
  --info-background: #d6ebfe;

  --contrast: #0F172A;
  --contrast-soft: #4B5563;
  --contrast-muted: #9CA3AF;
  --contrast-light: #ffffff;
}

.dark {
  --background: #020617;
  /* Fondo principal oscuro */
  --foreground: #0B1120;
  /* Tarjetas / contenedores */

  --border: #1E293B;

  --primary: #EDBB1B;
  --secondary: #052C5E;
  --accent: #001038;
  --success: #1CA74F;
  --success-background: #d3fde8;
  --warning: #F7EE21;
  --warning-background: #fef1d1;
  --error: #ef4444;
  --error-background: #ffe1e1;
  --info: #0042fe;
  --info-background: #d6ebfe;

  /* Colores de texto en modo oscuro */
  --contrast: #E5E7EB;
  /* texto principal */
  --contrast-soft: #9CA3AF;
  /* texto secundario */
  --contrast-muted: #6B7280;
  /* texto deshabilitado / hints */
  --contrast-light: #020617;
  /* para invertir (texto oscuro sobre chips claros, etc.) */
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE/Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome/Safari */
  }
}
